
{% extends 'base.html'%}


{% block content %}

<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ea soluta ex fuga, nemo repellat dicta veritatis voluptates molestias incidunt illum voluptatem voluptatibus quibusdam nihil deleniti doloribus expedita et inventore earum. Dolores consequatur quibusdam facilis in similique dolorem architecto blanditiis pariatur nemo nihil perferendis impedit, rem, soluta possimus id repellendus enim veniam praesentium voluptatum. Porro earum enim tempora quis consectetur officiis ea, nobis aperiam adipisci doloribus, dicta officia accusantium, dolores cum repellat. In consequuntur quidem culpa cupiditate! Doloribus, magnam facilis aliquid consectetur molestiae soluta corrupti debitis ipsa et dolor, porro sint illum exercitationem quod. Eum deserunt illum dolore quas amet.</h2>

{% endblock %}